@import url("styles/cabecalho.css");
@import url("styles/sobrenos.css");
@import url("styles/metricas.css");
@import url("styles/talentos.css");
@import url("styles/vagas.css");
@import url("styles/depoimento.css");
@import url("styles/rodape.css");

:root {
    --cor-logo: #3A404E;
    --cinza: #667085;
    --vermelho: #8E2424;
    --branco: #FFFFFF;
    --fonte-logo: "Inter", sans-serif;
    --preto: #101828; 
    --cinza-claro: #E5E5E5; 
    --vermelho-claro: #C31919;
    --cinza-medio: #98A2B3;
}

body {
    width: 100%;
    height: 100vh;
  }